@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$dark-base-text: #fffbf0;
$dark-base-text-dark: #808082;
$dark-base-background: #1a1a1a;
$dark-base-primarybt: #ff9500;
$dark-base-secondarybt: #3f3e44;
$dark-base-accent: #8215cb;

$row-size: 45px;
$collumn-size: calc(45px * $row-size);

@mixin text {
  font-family: "Inter", sans-serif;
  color: $dark-base-text;
}

@mixin heading {
  font-family: "Poppins", sans-serif;
  color: $dark-base-text;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: $dark-base-secondarybt;
  height: 60px;
  bottom: 12px;
  border-radius: 6px;
  position: fixed;
  width: calc(100vw - 66px);
  z-index: 2;
}
.gradient {
  position: fixed;
  bottom: 0px;
  width: calc(100vw - 66px);
  height: 120px;
  background: linear-gradient(
    0deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(0, 136, 255, 0) 100%
  ); /* New Background */
  z-index: 1;
  pointer-events: none;
}
body {
  height: 100vh;
  width: 100vw;
  display: grid;
  padding: 12px;
  background-color: $dark-base-background;
  grid-template-rows: 1fr 30px;
  grid-template-columns: 1fr 30px;
  grid-template-areas:
    "main scrollbar"
    "main scrollbar";
  gap: 12px;
  z-index: 0;

  main {
    grid-area: main;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "main";
    gap: 12px;
    z-index: 1;
    overflow-x: scroll;

    .header {
      grid-area: header;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(7, minmax(245px, 1fr));
      gap: 12px;

      .collumn-header {
        background-color: $dark-base-secondarybt;
        border-radius: 6px;
      }
    }
    .collumns::-webkit-scrollbar {
      display: none;
    }
    .collumns {
      scrollbar-width: none;
      display: grid;
      grid-area: main;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(7, minmax(245px, 1fr));
      gap: 12px;
      overflow: scroll;

      .collumn {
        position: relative;
        background-color: $dark-base-secondarybt;
        border-radius: 6px;
        height: fit-content;
        margin-bottom: 56px;
        cursor: pointer;

        .line {
          position: relative;
          width: 100%;
          height: 1px;
          background-color: $dark-base-text-dark;
        }

        .task {
          position: absolute;
          background-color: #ff9500;
          width: 100%;
          height: 62px;
          z-index: 2;
          top: 60px;
          border-radius: 6px;

          .task-header {
            width: 100%;
            height: 20px;
            background-color: #c77400;
            border-radius: 6px 6px 0px 0px;
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 6px 6px 0px 0px;
            @include heading();

            .task-title {
              position: absolute;
              left: 6px;
            }
            .task-duration {
              position: absolute;
              right: 6px;
            }
          }

          .task-body {
            @include text();
            position: relative;
            width: 100%;
            height: calc(100% - 20px);

            /* Customize the label (the container) */
            .container {
              display: block;
              position: relative;
              padding-left: 35px;
              margin-bottom: 12px;
              cursor: pointer;
              font-size: 22px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }

            /* Hide the browser's default checkbox */
            .container input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }

            /* Create a custom checkbox */
            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 25px;
              width: 25px;
              background-color: #eee;
              border-radius: 6px;
            }

            /* On mouse-over, add a grey background color */
            .container:hover input ~ .checkmark {
              background-color: #ccc;
            }

            /* When the checkbox is checked, add a blue background */
            .container input:checked ~ .checkmark {
              background-color: #2196f3;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
              content: "";
              position: absolute;
              display: none;
            }

            /* Show the checkmark when checked */
            .container input:checked ~ .checkmark:after {
              display: block;
            }

            /* Style the checkmark/indicator */
            .container .checkmark:after {
              left: 9px;
              top: 5px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(90deg);
              transform: rotate(45deg);
            }
          }
        }

        .event {
          position: absolute;
          background-color: #ff9500;
          width: 100%;
          height: 62px;
          z-index: 2;
          top: 60px;
          border-radius: 6px;
          display: flex;
          align-items: flex-start;
          justify-content: center;

          .event-header {
            width: 100%;
            height: 20px;
            background-color: #c77400;
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 6px 6px 0px 0px;

            @include heading();
            .event-title {
              position: absolute;
              left: 6px;
            }
            .event-duration {
              position: absolute;
              right: 6px;
            }
          }
        }
      }
    }
  }
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
  .scrollbar {
    grid-area: scrollbar;
    background-color: $dark-base-secondarybt;
    border-radius: 6px;
    padding: 72px 0px 72px 0px;
    overflow-y: scroll;
    overflow-x: hidden;

    hr {
      width: 80%;
      border: 1px solid $dark-base-text-dark;
      border-radius: 6px;
    }

    .timestamp-wrapper {
      position: relative;
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;

      .timestamp {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Inter", sans-serif;
        color: $dark-base-text-dark;
        font-size: 12px;
        position: relative;

        .timestamp-hour {
          display: block;
        }
        .line {
          background-color: $dark-base-text-dark;
          width: 14px;
          height: 1px;
          border-radius: 6px;
        }

        .timestamp-min {
          display: block;
        }
      }
    }
  }
}
