@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$dark-base-text: #fffbf0;
$dark-base-text-dark: #808082;
$dark-base-background: #1a1a1a;
$dark-base-primarybt: #ff9500;
$dark-base-secondarybt: #3f3e44;
$dark-base-accent: #8215cb;

$row-size: 45px;
$collumn-size: calc(45px * $row-size);

@mixin text {
  font-family: "Inter", sans-serif;
  color: $dark-base-text;
}

@mixin heading {
  font-family: "Poppins", sans-serif;
  color: $dark-base-text;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-date-wrapper {
  height: 60px;
  padding: 6px;
  display: flex;
  font-family: "Poppins";
  color: white;

  .header-date {
    min-width: 100px;
    padding: 6px;
    word-spacing: -10px;
    text-overflow: clip;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;

    .header-date-num {
      font-size: 38px;
    }

    .header-date-name {
      text-transform: uppercase;
    }
  }
  .header-date-tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #1a1a1a;
    border-radius: 6px;
    padding-left: 4px;

    .header-date-tags-wrapper-inner::-webkit-scrollbar {
      display: none;
    }

    .header-date-tags-wrapper-inner {
      height: calc(100% - 9px);
      width: 100%;
      position: relative;
      border-radius: 6px;
      overflow: scroll;

      .header-date-tags-wrapper-inner-constraint {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2px;
        width: calc(100% - 18px);
      }

      .header-tag {
        border-radius: 6px;
        height: 18px;
        width: fit-content;
        padding: 0px 6px;
        background-color: rgb(255, 123, 0);
        font-family: "Poppins";
        color: white;
        font-size: 12px;
      }
    }
  }
}

.event-wrapper {
  width: 100%;
  background-color: orange;
  border-radius: 6px;
  z-index: 2;
  position: absolute;
  height: 399px;

  .event-header-wrapper {
    height: 54px;
    width: 100%;
    padding: 6px 6px 0px 6px;
    gap: 6px;
    display: grid;
    grid-template-columns: 3fr 1.45fr;
    grid-template-areas: "title duration";

    .event-title {
      border-radius: 6px;
      padding: 0px 6px 0px 6px;
      background-color: #252527;
      grid-area: title;
      font-size: 14px;
      display: flex;
      font-weight: 500;
      justify-content: center;
      align-items: center;
      color: $dark-base-text;
      font-family: "Poppins";

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .event-duration {
      border-radius: 6px;
      background-color: #252527;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-weight: 400;
      grid-area: duration;
      color: $dark-base-text;
      font-family: "Poppins";
      position: relative;

      p {
        text-align: center;
        font-size: 16px;
        width: 100%;
        line-height: 18px;
      }
      .moreoptions {
        position: absolute;
        transform: rotateZ(90deg);
        right: -6px;
        color: #979797;
        font-size: 26px;
      }
    }

    .event-moreoptions {
      border-radius: 6px;
      padding: 0px 6px 0px 6px;
      text-align: center;
      background-color: #272625;
      grid-area: moreoptions;
      color: $dark-base-text;
      font-family: "Poppins";
    }
  }

  .event-tags-wrapper {
    min-height: 30px;
    width: 100%;
    padding: 6px;
    background-color: rgb(252, 166, 6);

    .event-tags-wrapper-inner {
      background-color: #1a1a1a;
      padding: 6px;
      min-height: 27px;
      height: fit-content;
      position: relative;
      border-radius: 6px;

      .event-tags-wrapper-inner-constraint {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 6px;
        width: calc(100% - 18px);
      }

      .event-tag {
        border-radius: 6px;
        height: 18px;
        width: fit-content;
        padding: 0px 6px;
        background-color: rgb(255, 123, 0);
        font-family: "Poppins";
        color: white;
        font-size: 12px;
      }

      .event-addtag {
        width: 18px;
        height: 18px;
        border-radius: 6px;
        position: absolute;
        bottom: 6px;
        right: 6px;
      }
    }
  }

  .event-body-wrapper {
    min-height: 30px;
    background-color: rgb(51, 51, 51);
    border-radius: 6px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .event-body-subevent {
      background-color: #696969;
      border-radius: 6px;
      height: 48px;
      padding: 6px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .event-body-name {
        font-family: "Poppins";
        color: white;
        font-weight: 300;
        font-size: 14px;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .checkbox {
        width: 25px;
        height: 25px;
        background-color: grey;
        border: 1px rgb(146, 146, 146) solid;
        border-radius: 6px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          opacity: 0;
          width: 24px;
          height: 24px;
        }
      }

      .checkbox[data-checked="true"] {
        img {
          opacity: 1;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.task-wrapper {
  width: 100%;
  background-color: #ff9500;
  border-radius: 6px;
  z-index: 5;
  position: absolute;

  .task-header-wrapper {
    height: 54px;
    width: 100%;
    padding: 6px 6px 0px 6px;
    gap: 6px;
    display: grid;
    grid-template-columns: 3fr 1.45fr;
    grid-template-areas: "title duration";

    .task-title {
      border-radius: 6px;
      padding: 0px 6px 0px 6px;
      background-color: #252527;
      grid-area: title;
      font-size: 14px;
      display: flex;
      font-weight: 500;
      justify-content: center;
      align-items: center;
      color: $dark-base-text;
      font-family: "Poppins";

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .task-duration {
      border-radius: 6px;
      background-color: #252527;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      font-size: 26px;
      grid-area: duration;
      color: $dark-base-text;
      font-family: "Poppins";
      position: relative;

      .moreoptions {
        position: absolute;
        transform: rotateZ(90deg);
        right: -6px;
        color: #979797;
        font-size: 26px;
      }
    }

    .task-moreoptions {
      border-radius: 6px;
      padding: 0px 6px 0px 6px;
      text-align: center;
      background-color: #272625;
      grid-area: moreoptions;
      color: $dark-base-text;
      font-family: "Poppins";
    }
  }

  .task-tags-wrapper {
    min-height: 30px;
    width: 100%;
    padding: 6px;
    background-color: rgb(252, 166, 6);

    .task-tags-wrapper-inner {
      background-color: #1a1a1a;
      padding: 6px;
      min-height: 27px;
      height: fit-content;
      position: relative;
      border-radius: 6px;

      .task-tags-wrapper-inner-constraint {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 6px;
        width: calc(100% - 18px);
      }

      .task-tag {
        border-radius: 6px;
        height: 18px;
        width: fit-content;
        padding: 0px 6px;
        background-color: rgb(255, 123, 0);
        font-family: "Poppins";
        color: white;
        font-size: 12px;
      }

      .task-addtag {
        width: 18px;
        height: 18px;
        border-radius: 6px;
        position: absolute;
        bottom: 6px;
        right: 6px;
      }
    }
  }

  .task-body-wrapper {
    min-height: 30px;
    background-color: rgb(51, 51, 51);
    border-radius: 6px;
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    width: 100%;

    .task-body-subtask {
      max-width: 233px;
      background-color: #696969;
      border-radius: 6px;
      height: 33px;
      padding: 6px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .task-body-name {
        font-family: "Poppins";
        color: white;
        font-weight: 300;
        font-size: 14px;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .checkbox {
        @include text();
        width: 21px;
        height: 21px;
        background-color: grey;
        border: 1px rgb(146, 146, 146) solid;
        border-radius: 6px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          opacity: 0;
          width: 24px;
          height: 24px;
        }
      }

      .checkbox[data-checked="true"] {
        img {
          opacity: 1;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

nav {
  background-color: $dark-base-secondarybt;
  height: 60px;
  bottom: 6px;
  border-radius: 6px;
  position: fixed;
  width: calc(100vw - 48px);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .append_things {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    border: 1px transparent solid;
    cursor: pointer;
    background-color: #252527;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      width: 80%;
      height: 80%;
    }
  }
}
.gradient {
  position: fixed;
  bottom: 0px;
  width: calc(100vw - 48px);
  height: 120px;
  background: linear-gradient(
    0deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(0, 136, 255, 0) 100%
  ); /* New Background */
  z-index: 1;
  pointer-events: none;
}
body {
  height: 100vh;
  width: 100vw;
  display: grid;
  padding: 6px;
  background-color: $dark-base-background;
  grid-template-rows: 1fr 30px;
  grid-template-columns: 1fr 30px;
  grid-template-areas:
    "main scrollbar"
    "main scrollbar";
  gap: 6px;
  z-index: 0;

  main::-webkit-scrollbar {
    display: none;
  }
  .button {
    border: transparent 0px solid;
    border-radius: 6px;
    cursor: pointer;
    width: fit-content;
    padding: 12px;
    background-color: #1a1a1a;
    color: white;
  }
  main {
    scrollbar-width: none;
    grid-area: main;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header "
      "states"
      "main";
    gap: 6px;
    z-index: 1;
    overflow-x: scroll;

    .header {
      grid-area: header;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(7, minmax(245px, 1fr));
      gap: 6px;

      .collumn-header {
        background-color: $dark-base-secondarybt;
        border-radius: 6px;
      }
    }

    .state {
      background-color: rgb(113, 0, 0);
      height: 18px;
      border-radius: 6px;
    }

    .collumns::-webkit-scrollbar {
      display: none;
    }
    .collumns {
      scrollbar-width: none;
      display: grid;
      grid-area: main;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(7, minmax(245px, 1fr));
      gap: 6px;
      overflow: scroll;
      border-radius: 6px;

      .collumn {
        position: relative;
        background-color: $dark-base-secondarybt;
        border-radius: 6px;
        height: fit-content;
        margin-bottom: 72px;
        cursor: pointer;

        .line {
          position: relative;
          width: 100%;
          height: 1px;
          background-color: $dark-base-text-dark;
        }
      }
    }
  }
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
  .scrollbar {
    grid-area: scrollbar;
    background-color: $dark-base-secondarybt;
    border-radius: 6px;
    padding: 72px 0px 72px 0px;
    overflow-y: scroll;
    overflow-x: hidden;

    hr {
      width: 80%;
      border: 1px solid $dark-base-text-dark;
      border-radius: 6px;
    }

    .timestamp-wrapper {
      position: relative;
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;

      .timestamp {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Inter", sans-serif;
        color: $dark-base-text-dark;
        font-size: 12px;
        position: relative;

        .timestamp-hour {
          display: block;
        }
        .line {
          background-color: $dark-base-text-dark;
          width: 14px;
          height: 1px;
          border-radius: 6px;
        }

        .timestamp-min {
          display: block;
        }
      }
    }
  }
}
